body {
    background-color: rgba(90, 59, 23, 0.363);
}



.facts {
    background-color: brown;
    color: rgb(78, 173, 142);
    border: 4px solid black;
    text-align: center;
    box-shadow: 7px 9px rgba(133, 10, 10, 0.781);
}

.textsha {
    font-size: x-large;
    text-align: center;
    text-shadow: 2px 2px rgba(13, 172, 150, 0.863);
    background-image: url(images/blue.jpg);
    background-size: cover;
}

.links {
    text-align: center;
}



.links a:hover {
    color: rgba(216, 37, 37, 0.651);
    transition: all 3s;

}




.links:hover{
    text-align: center;
    background: rgba(212, 124, 41, 0.637);
    background-size: cover;
    transition: all 1s;

}

@media only screen and (max-width: 800px) {
    body{
        background-color: tomato;
        color: rgba(255, 255, 255, 0.973);
    }
  }