body {
    background-color: rgba(83, 2, 70, 0.616);
}



.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 10%;
    width: 100px;

  }

  .td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  

  input[type=text] {
    padding: 8px 2px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #964e60;
    color: rgb(187, 255, 240);
  }


